<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>블로그 C팀 홈</title>
</head>
<body>
    <nav>
        <a href="{% url 'blog:index' %}">블로그 홈 |</a>
        <a href="{% url 'blog:post_create' %}">글쓰기 |</a>
        <a href="{% url 'blog:introduce' %}">박정재 |</a>
        <a href="{% url 'blog:introduce2' %}">김홍연 |</a>
        <a href="{% url 'blog:introduce3' %}">김진희 |</a>
        <a href="{% url 'blog:introduce4' %}">백송희 |</a>
    </nav>
    <section>
    <h1>블로그 홈입니다.</h1>
    {% if post_list %} <!-- 포스트가 있다면 -->
        {% for post in post_list %}
            <hr>
            <h4>{{ post.title }}</h4>
            <h5>{{ post.pub_date }}</h5>
            <p style="white-space:pre-line">
                {{ post.content }}
            </p>
            {% if post.photo %}
                <img src="{{ post.photo.url }}">
            {% endif %}
        {% endfor %}
    {% else %}
        <p>포스트가 없습니다.</p>
    {% endif %}
    </section>
</body>
</html>